<div class="container mx-auto">
  <div *ngFor="let zone of data | async" class="mb-6">
    <h2 class="font-bold text-lg mb-4">{{ zone.name }}</h2>

    <!-- cards container -->
    <div class="flex flex-wrap gap-4">
      <div *ngFor="let t of zone.tables"
        class="p-4 rounded-lg border-2 transition-all hover:shadow-md w-56 h-36 flex flex-col justify-between bg-card cursor-pointer"
        (click)="router.navigate(['new-client-order' , t.id])">
        <h3 class="font-bold text-lg">{{ t.name }}</h3>

        <span class="text-xs px-2 py-1 rounded font-medium w-fit" [ngClass]="statusBgColors[t.status]">
          {{ t.status | titlecase }}
        </span>
      </div>
    </div>
  </div>
</div>