<div class="flex flex-col flex-1 lg:flex-row overflow-hidden h-full">
  <hlm-resizable-group class="flex flex-col lg:flex-row w-full h-full">
    <!-- LEFT PANEL -->
    <hlm-resizable-panel class="w-full lg:w-[25%] min-w-[20%]" [defaultSize]="25">
      <app-order-product-family
        [families]="families$ | async"
        [selectedFamily]="selectedFamily"
        (familySelected)="onFamilySelected($event)"
      />
    </hlm-resizable-panel>

    <hlm-resizable-handle class="hidden lg:block" />

    <!-- CENTER PANEL -->
    <hlm-resizable-panel class="w-full lg:w-[50%] min-w-[30%]" [defaultSize]="50">
      <div class="flex-1 overflow-y-auto h-full">
        <app-order-products [selectedFamily]="selectedFamily" (addToCart)="onAddToCart($event)" />
      </div>
    </hlm-resizable-panel>

    <hlm-resizable-handle class="hidden lg:block" />

    <!-- RIGHT PANEL -->
    <hlm-resizable-panel class="w-full lg:w-[25%] min-w-[20%]" [defaultSize]="25">
      <hlm-resizable-group direction="vertical" class="flex flex-col flex-1 h-full">
        <!-- CART -->
        <hlm-resizable-panel class="w-full h-[65%] min-h-[40%]" [defaultSize]="65">
          <app-order-checkout
            [cart]="cart"
            [errorMessage]="errorMessage"
            [successMessage]="successMessage"
            [isCreating]="isCreating"
            [cartTotal]="cartTotal"
            (removeFromCart)="onRemoveFromCart($event)"
            (createOrder)="onCreateOrder()"
          />
        </hlm-resizable-panel>

        <hlm-resizable-handle />

        <!-- KEYBOARD -->
        <hlm-resizable-panel class="w-full h-[35%] min-h-[30%]" [defaultSize]="35">
          <app-order-keyboard
            [orderId]="activeOrderId"
            [maxPayAmount]="activeOrderRemaining"
            [paidAmount]="activeOrderPaidAmount"
            (paymentCompleted)="onPaymentCompleted()"
          />
        </hlm-resizable-panel>
      </hlm-resizable-group>
    </hlm-resizable-panel>
  </hlm-resizable-group>
</div>
